    
    /* GENERAL */
    body {
        background-color: black;
        color: white;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    span{
        color: goldenrod;
        font-style: normal;
    }

    .banner-image {
            width: 100%;
            height: 570px;
            max-width: 100%;
            background-size: cover;
            z-index: -99;
        }
    /* END OF GENERAL */

    /* FONTS */
    .bbh-bartle-regular {
        font-family: "BBH Bartle", sans-serif;
        font-weight: 200;
        font-style: normal;
    }

    .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .lobster-regular {
        font-family: "Lobster", sans-serif;
        font-weight: 400;
        font-style: normal;
    }


    /* END OF FONTS */


    /* START OF NAVBAR */
    .navbar{
        position: absolute;
        z-index: 9;
        width: 100%;
        right: 10px;
    }

    .main-list {
        list-style: none;
        margin-top: 19px;
    }

    .list-items {
        padding: 5px;
        margin: 14px;
        display: inline;
    }

    .list-items a {
        text-decoration: none;
        color: white;
        font-weight: bold;

    }

    .list-items a:hover {
        color: gold;
        transition: 0.5s;
    }

    #nav-sign {
        float: right;
        padding: 4px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: 25px;
        letter-spacing: 1px;
        color: goldenrod;
        background-color: transparent;
        border: 2px solid goldenrod;
        margin-top: 0 !important;


    }

    #nav-sign:hover {
        color: white;
        background-color: goldenrod;
        border: 2px solid goldenrod;
        transition: all 0.5s;

    }

    #logo {
        font-size: 1.7em;
        color: goldenrod;

    }

    #logo:hover {
        color: white;
        transition: all 0.5s;
    }


    /* END OF NAVBAR */

    /* START OF ABOUT PAGE */


     #about-banner-button {
        padding: 10px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: 25px;
        letter-spacing: 1.5px;
        color: white;
        background-color: goldenrod;
        border: 2px solid goldenrod;
        margin-top: 0 !important;
        transition: all 0.5s;
        font-weight: 650;
        font-size: 14px;

    }

    #about-banner-button:hover{
        color: goldenrod;
        background-color: transparent;
        border: 2px solid goldenrod;
    }


        
    .card-holder {
        width: 280px;
        height: 345px;
        background: linear-gradient(to bottom right, #000000 30%, #4a3b00 100%);
        border-radius: 10px;
        margin: 10px;
        border: 1.5px solid #B8860B;
        transition: 0.5s;
        display: inline-block;
    }
    
   

    .card-holder h3 {
        margin-top: 20px;
        font-size: 24px;
    }

    .card-holder:hover{
        transform: scale(1.03);
      
    }


    /* END OF ABOUT PAGE */

    /* START OF CONTACT PAGE */

    .contact-heading{
        font-family: "Poppins", sans-serif;
        font-weight: 500px;
        font-style: normal;
        font-size: 40px;
        padding: 20px;
        display: flex;
        justify-content: center;
    }

    .contact-main{
        padding: 10px 150px 10px 100px;
    }

    .contact-right{
        float: right;
    }


    .contact-left{
        float: left;
        width: 500px;
    }

    .contact-left-heading{
        font-family: "Poppins", sans-serif;
        font-weight: 300px;
        font-style: normal;
        font-size: 26px;
        line-height: 10px;
    }

    .contact-left-para{
        font-family: "Poppins", sans-serif;
        margin-bottom: 50px;
    }
    

    /* MOVIE CARDS */

    .movie-card-holder {
        width: 200px;
        height: 250px;
        margin: 8px;
        display: inline-block;
        text-align: center;
        transition: 0.5s;

    }

    .movie-card-holder img {
        margin-top: -20px;
        width: 100%;
        height: 250px;
        object-fit: cover;

    }

    .movie-card-holder h3 {
        margin-top: 0px;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
    }

    .movie-card-holder:hover {
        transform: scale(1.05);
    }


    .icon-lock {
        position: absolute;
        font-size: 40px;
        margin-left: -115px;
        margin-top: 85px;

    }